body > div.p {
	display: none;
	margin-top: .5rem;
}

body > div.p#welcome {
	display: block;
}

body > nav li.navbar-item > a.nav-link.active {
	text-decoration: underline;
}

span.currency-amount.currency-amount-negative {
	&:before { content: '('; }
	&:after { content: ')'; }
}

span.currency-amount {
	&.currency-gain { color: hsl(140, 100%, 60%); }
	&.currency-loss { color: hsl(20, 100%, 60%); }

	&.stale:after { content: '?'; }
	&.stale.currency-amount-negative:after { content: '?)'; }

	&.to-date:after { content: '*'; }
	&.to-date.currency-amount-negative:after { content: ')*'; }

	&.to-date.stale:after { content: '?*'; }
	&.to-date.stale.currency-amount-negative:after { content: '?)*'; }
}

abbr.rounded-figure {
	text-decoration: underline dotted;
	text-decoration-color: hsla(0, 0%, 100%, 0.5);
}

.c3-axis text {
	fill: #999;
}

.c3-axis, .c3-grid {
	path, line {
		stroke: hsla(0, 0%, 30%, .5);
		stroke-dasharray: 1 0;
	}
}

td#perf-start-value, td#perf-end-value, td#perf-irr {
	.currency-amount {
		font-weight: bold;
	}
}

table#perf-top-gainers, table#perf-top-losers {
	&> tbody > tr:first-child > td {
		border-top: 0;
	}
}

table#perf-monthly-pnl tr {
	td, th { text-align: right; }
	td:first-child, th:first-child { text-align: left; }
}

button.btn-xs {
	padding: .2rem .4rem;
	font-size: 0.8rem;
	line-height: 1.0;
	border-radius: 0.2rem;
}

table.table-returns {
	&> thead > tr {
		&> td, &> th { border-top: 0; }
	}

	&> thead, &> tbody {
		&> tr {
			&> td, &> th {
				text-align: right;
				&:nth-child(1) { text-align: left; }
			}
		}
	}
}

table.table-xs {
	&> thead, &> tbody, &> tfoot {
		&> tr {
			&> td, &> th {
				font-size: 80%;
				padding: .2rem;
			}
		}
	}
}
