<div class="p container-fluid" id="perf">
	<form class="dst-date-range-selector form-inline justify-content-end" id="perf-date-selector">
		<div class="btn-group" role="group"></div>
		<input type="date" id="perf-date-start" class="dst-date-range-start form-control form-control-sm ml-4" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
		<input type="date" id="perf-date-end" class="dst-date-range-end form-control form-control-sm ml-2" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
		<button type="submit" class="btn btn-primary btn-sm ml-2">Set timespan</button>
	</form>
	<div class="row">
		<div class="col-lg-4 mt-2">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Summary, EUR</h6>
			</div>
			<table class="table table-sm">
				<tbody>
					<tr>
						<td class="border-top-0 text-muted">Account value, <span id="perf-start-date"></span></td>
						<td class="border-top-0 text-right" id="perf-start-value"></td>
					</tr>
					<tr><td class="text-muted">Realized P/L</td><td id="perf-realized-pnl" class="text-right"></td></tr>
					<tr><td class="text-muted">Total P/L</td><td class="perf-pnl text-right"></td></tr>
					<tr><td class="text-muted">Cash transfers</td><td id="perf-cash-xfers" class="text-right"></td></tr>
					<tr><td class="text-muted">Account value, <span id="perf-end-date"></span></td><td id="perf-end-value" class="text-right"></td></tr>
					<tr><td class="text-muted">Change in account value</td><td id="perf-value-delta" class="text-right"></td></tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-8 mt-2">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Account value, EUR</h6>
			</div>
			<div id="perf-account-value-graph"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Instrument P/L, EUR</h6>
				<span class="ml-auto perf-pnl"></span>
			</div>
			<div id="perf-instrument-pnl-graph"></div>
		</div>
		<div class="col-lg-4 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Top 3 Gainers</h6>
			</div>
			<table class="table table-sm" id="perf-top-gainers">
				<tbody></tbody>
			</table>
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Top 3 Losers</h6>
			</div>
			<table class="table table-sm" id="perf-top-losers">
				<tbody></tbody>
			</table>
		</div>
		<div class="col-lg-4 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Cumulative P/L, EUR</h6>
			</div>
			<div id="perf-cumulative-pnl-graph"></div>
		</div>
	</div>
	<div class="mt-4">
		<div class="d-flex border-bottom border-secondary">
			<h6 class="mb-1">Monthly P/L, EUR <span id="perf-monthly-pnl-unit"></span></h6>
		</div>
		<table class="table table-xs table-striped table-returns" id="perf-monthly-pnl">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Jan</th>
					<th scope="col">Feb</th>
					<th scope="col">Mar</th>
					<th scope="col">Apr</th>
					<th scope="col">May</th>
					<th scope="col">Jun</th>
					<th scope="col">Jul</th>
					<th scope="col">Aug</th>
					<th scope="col">Sep</th>
					<th scope="col">Oct</th>
					<th scope="col">Nov</th>
					<th scope="col">Dec</th>
					<th scope="col">1 Year</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr><td colspan="14" class="text-muted">*To Date</td></tr>
			</tfoot>
		</table>
	</div>
</div>
