<div class="p container-fluid" id="pf">
	<form class="form-inline justify-content-end dst-date-selector" id="pf-date-select">
		<div class="btn-group" role="group"></div>
		<input type="date" id="pf-date-select-date" class="dst-date form-control form-control-sm ml-4" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
		<button type="submit" class="btn btn-primary btn-sm ml-2">Set date</button>
	</form>
	<header class="d-flex justify-content-around align-items-center text-center mt-2">
		<div>
			<small class="text-muted">Cash available</small>
			<h4 id="pf-cash-available"></h4>
		</div>
		<div>
			<small class="text-muted">Value of positions</small>
			<h4 id="pf-positions-value"></h4>
		</div>
		<div>
			<small class="text-muted">Account value</small>
			<h4 id="pf-account-value"></h4>
		</div>
		<div>
			<small class="text-muted">Account risk (<abbr title="Indicative annualized volatility. Calculated using current asset allocation and historical price volatility.">?</abbr>)</small>
			<h4 id="pf-account-risk"></h4>
		</div>
		<div>
			<small class="text-muted">Day change</small>
			<h4 id="pf-day-change"></h4>
		</div>
		<div>
			<small class="text-muted">% Day change</small>
			<h4 id="pf-day-change-percentage"></h4>
		</div>
	</header>
	<div class="row" id="pf-securities">
		<div class="col-lg-6 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">P/L, EUR</h6>
				<div class="pf-total-pnl ml-auto"></div>
			</div>
			<div id="pf-pnl-graph"></div>
		</div>
		<div class="col-lg-6 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Absolute exposure, EUR</h6>
				<div class="pf-total-exposure ml-auto"></div>
			</div>
			<div id="pf-exposure-graph"></div>
		</div>
	</div>
	<div class="row" id="pf-exposures">
		<div class="col-md-6 col-xl-3 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Net exposure, Asset category</h6>
			</div>
			<div id="pf-exposure-type"></div>
		</div>
		<div class="col-md-6 col-xl-3 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Net exposure, Currency</h6>
			</div>
			<div id="pf-exposure-currency"></div>
		</div>
		<div class="col-md-6 col-xl-3 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Net exposure, Country</h6>
			</div>
			<div id="pf-exposure-country"></div>
		</div>
		<div class="col-md-6 col-xl-3 mt-4">
			<div class="d-flex border-bottom border-secondary">
				<h6 class="mb-1">Net exposure, Sectors</h6>
			</div>
			<div id="pf-exposure-gics"></div>
		</div>
	</div>
	<table class="table table-sm table-striped mt-4 mb-4">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col" colspan="2">Instrument</th>
				<th scope="col" class="text-right">Quantity</th>
				<th scope="col" class="text-right">Open</th>
				<th scope="col" class="text-right">Current price</th>
				<th scope="col" class="text-right">% Price</th>
				<th scope="col" class="text-right">% Day change</th>
				<th scope="col" class="text-right">P/L</th>
				<th scope="col" class="text-right">Absolute exposure</th>
				<th scope="col" class="text-right">% Net exposure</th>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot>
			<tr>
				<td></td>
				<th colspan="7">Closed positions</th>
				<td id="pf-total-pnl-closed" class="text-right"></td>
				<td id="pf-total-exposure-closed" class="text-right"></td>
				<td id="pf-total-exposure-percent-closed" class="text-right"></td>
			</tr>
			<tr>
				<td></td>
				<th colspan="7">Cash</th>
				<td id="pf-total-pnl-cash" class="text-right"></td>
				<td id="pf-total-exposure-cash" class="text-right"></td>
				<td id="pf-total-exposure-percent-cash" class="text-right"></td>
			</tr>
			<tr>
				<td></td>
				<th colspan="7">Totals</th>
				<td class="pf-total-pnl text-right"></td>
				<td class="pf-total-exposure text-right"></td>
				<td id="pf-total-exposure-percent" class="text-right"></td>
			</tr>
		</tfoot>
	</table>
</div>
